html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: hsl(0, 0%, 8%);
  font-family: 'Arial, sans-serif';
}

.body {
  background-color: hsl(0, 0%, 12%);
  border-radius: 2%;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  min-height: fit-content;
  min-width: fit-content;
}

.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #6c757d;
}

.profile-name {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0;
}

.profile-location {
  font-size: 1.5rem;
  color: hsl(75, 94%, 57%);
  margin: 0.5rem 0;
}

.profile-bio {
  font-size: 1.5rem;
  color: #6c757d;
  color: white;
  margin: 1rem;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.button {
  padding: 0.5rem 1 rem;
  width: 250px;
  height: 39px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}